{% extends 'base.html.twig' %}

{% block title %}Hello ParcoursController!{% endblock %}

{% block body %}

<div class="sidebar">
    <ul>
        <li><a href="/home">Accueil</a></li>
        <li><a href="#">course</a></li>
        <li><a href="/parcours">parcours</a></li>
        <li><a href="#">balise</a></li>
    </ul>
</div>
{% endblock %}
