{% extends 'base.html.twig' %}

{% block title %}Beacon Details{% endblock %}

{% block body %}
<div class="content">
    <h1>Détail de la balise</h1>

    <strong>{{ beacon.name }}</strong> - 
    {% if beacon.isPlaced %}
        ✔ Placée
    {% else %}
        ✖ Non placée
    {% endif %}

    <br><br>

    <img src="{{ qrCode }}" alt="QR Code {{ beacon.name }}">
</div>
{% endblock %}