{% extends 'base.html.twig' %}

{% block title %}Hello RaceController!{% endblock %}

{% block body %}
<h2>Classement</h2>

<table>
    <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Temps</th>
    </tr>

    {% for result in results %}
        <tr onclick="window.location='{{ path('app_runner_details', {id: result.runner.id}) }}'">
            <td>{{ loop.index }}</td>
            <td>{{ result.runner.name }}</td>
            <td>
                {% if result.time %}
                    {{ result.time }} sec
                {% else %}
                    ❌ Non terminé
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}